PRE_TEXT=<OPTIONAL-PRE-TEXT-HERE>
SEARCH_CONDITIONS=<REQUIRED-SEARCH-CONDITIONS-HERE>
BOT_TOKEN=<REQUIRED-BOT-TOKEN-HERE>
BOT_CHATID=<REQUIRED-CHAT-ID-HERE>
EXCLUDE_TITLE=<OPTIONAL-COMMA-SEPARATED-WORDS-TO-SKIP>
HTTP_PROXY=<OPTIONAL-HTTP-PROXY-HERE>
HTTPS_PROXY=<OPTIONAL-HTTPS-PROXY-HERE>
